.btn-header {
    background-color: #2D72CD;
    color: #ffffff;
    padding: 15px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: none;
}
