

body {
  //font-family: "Inter", sans-serif;
  font-family: $font-Inter;
}

.wrapper {
  width: 1232px;
  //width: 80vw;
  margin: 0 auto;
}

hr {
  width:100%;
  background-color:#AEB6BB;
  height:1px;
  border-width: 0;
}

.line {
  height: 100%;
  background-color: #AEB6BB;
  width: 1px;
  border-width: 0;
}