footer {
  width: 100%;
  background-color: #121415;
  height: 280px;
  .footer-box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
  }
}

