//
//.box3 {
//  @include font_label_form("dark")
//}
//.box3-m {
//  @include font_label_form_m("dark")
//}
//
//.box7 {
//  @include font_label_form("light");
//
//}


.box7-form {
  margin-left: 104px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  form {
    input {
      height: 57px;
      width: 298px;
      border-radius: 4px;
      padding-left: 10px;
      border: 1px solid #CDD6DB;
      outline: 0;

      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #65677C;
      }
    }

    .form {
      &-title {
        margin-top: 102px;
        margin-bottom: 25px;
        @include font_01;
      }

      &-subtitle, &-subtitle2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #213252;
      }

      &-subtitle {
        font-weight: 400;
      }

      &-subtitle2 {
        font-weight: 300;
      }

      &-policy {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        color: #5F6369;
        max-width: 307px;
      }
    }

    section-file {
      display: flex;
      //align-items: center;
    }
  }
}
.box7-form-m {
  //margin-left: 104px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //margin-left: 8vw;
  width: 80vw;

  form {
    input {
      height: 46px;
      width: 272px;
      border-radius: 4px;
      padding-left: 10px;
      border: 1px solid #CDD6DB;
      outline: 0;

      &::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: #65677C;
      }
    }
  }

  .form {
    &-title {
      margin-top: 60px;
      margin-bottom: 25px;
      @include font_01;
    }
    &-subtitle, &-subtitle2 {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: #213252;
    }
    &-subtitle { font-weight: 400; }
    &-subtitle2 { font-weight: 300; }
    &-policy {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      text-align: center;
      color: #5F6369;
      max-width: 307px;
    }
  }
  section-file {
    display: flex;
    //align-items: center;
  }
}











