form {
  input {
    height: 57px;
    width: 298px;
    border-radius: 4px;
    padding-left: 10px;
    border-color: #CDD6DB;
    outline: none;
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #65677C;

    }
  }
  .input-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .input-box:nth-child(odd) {
    margin-right: 15px;
  }
  .in-1, .in-2 {
    display: flex;
  }
  .in-1 {
    margin-bottom: 25px;
  }
  .in-2 {
    margin-bottom: 8px;
  }
  }


.box3 {
  @include font_label_form("dark")
}
.box7 {
  @include font_label_form("light");

}


.box3-form {
  .form {
    &-title,
    &-subtitle,
    &-policy {
      color: #ffffff;
    }
    &-title {
      padding-top: 76px;
      font-size: 40px;
      font-weight: 600;
      line-height: 52px;
      margin-bottom: 35px;
    }
    &-subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 20px;
    }
    &-policy {
      font-size: 15px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

.box7-form {
  margin-left: 104px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .form {
    &-title {
      margin-top: 102px;
      margin-bottom: 25px;
      @include font_01;
    }
    &-subtitle, &-subtitle2 {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: #213252;
    }
    &-subtitle { font-weight: 400; }
    &-subtitle2 { font-weight: 300; }
    &-policy {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      text-align: center;
      color: #5F6369;
      max-width: 307px;
    }
  }
  section-file {
    display: flex;
    //align-items: center;
  }
}




