.input-box2 {
  display: flex;
  //flex-direction: column;
  justify-content: flex-start;
  width: auto;
}

.input-box2-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  //width: auto;
}

.input-box11 {
  //background-color: #65677C;
  /* top left, top right, bottom right, bottom left */
  border-radius: 4px 0 0 4px;

}



.box11-form {
    background-color: #1A2C41;
    color: #ffffff;
    padding: 28px 104px 40px 104px;
    border-radius: 4px ;
    //top: 50px;
    //position: absolute;
  form {
    input {
      height: 57px;
      width: 298px;
      border-radius: 4px;
      padding-left: 10px;
      border: 1px solid #CDD6DB;
      outline: 0;

      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #65677C;
      }
    }
  }
    .form {
      &-title {
        width: 504px;
        margin-bottom: 25px;
        font-weight: 400;

      }
    }
}

.box11-form-m {
  background-color: #1A2C41;
  color: #ffffff;
  padding: 35px 5px 70px 5px;
  border-radius: 4px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
  form {
    input {
      height: 57px;
      width: 286px;
      border-radius: 4px;
      padding-left: 10px;
      border: 1px solid #CDD6DB;
      outline: 0;

      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #65677C;
      }
    }
  }
  .form {
    &-title {
      width: 286px;
      margin-bottom: 25px;
      @include text_14_24;
    }
  }
}



