.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-family: Inter, sans-serif;
  //.logo {
  //  &-box {
  //    display: flex;
  //    align-items: center;
  //  }
  //  &-title {
  //    //font-family: Inter, sans-serif;
  //    text-transform: uppercase;
  //    font-size: 50px;
  //    font-weight: 800;
  //    line-height: 24px;
  //    color: #556686;
  //    margin-right: 15px;
  //  }
  //  &-subtitle {
  //    //font-family: Inter, sans-serif;
  //    font-size: 16px;
  //    font-weight: 400;
  //    line-height: 22px;
  //    max-width: 217px;
  //    padding-top: 3px;
  //  }
  //}

  .call {
    &-box {
      display: flex;
      flex-direction: column;
    }
    &-telefon {
      //font-family: Inter, sans-serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0.5px;
    }
  }
  .order-box {
    display: flex;
    justify-content: flex-end;
    img {
      display: inline;
      margin-left: -25px;
      margin-right: 5px;
    }
    .call-order {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: #5284F7;
      &:hover {
        text-decoration: underline;
        text-decoration-style: dotted;
        cursor: pointer;
      }
    }
  }

}




