.box-6 {
  .section-info {
    display: flex;
    font-weight: 400;
    align-items: center;
    margin-bottom: 20px;
    .section-title {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 35px;
      max-width: 508px;
    }
    .section-text {
      font-size: 16px;
      line-height: 24px;
      max-width: 508px;
    }
    .left, .right {
      width: 50%;
    }
  }
}

.box-6-m {
  width: 100vw;
  .section-info {
    display: flex;
    font-weight: 400;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 30px;
    //max-width: 360px;
    width: 80vw;
    .section-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 40px;
      margin-top: 50px;
    }
    .section-text {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 40px;
    }
    img {
      //max-width: 360px;
      width: 80vw;
      margin-bottom: -30px;
    }
  }
}