.box-3 {
  background-color: #1A2C41;
  width: 100%;
  height: 680px;
  .seed {
    display: flex;
    .seed-1 {
    }
    .seed-2 {
      img {
        margin-top: -53px;
      }
    }
  }
}

.box-3-m {
  background-color: #1A2C41;
  width: 100%;
  height: 760px;
  padding-top: 50px;
  .seed {
    display: flex;
    .seed-1 {
    }
    .seed-2 {
      img {
        margin-top: -53px;
      }
    }
  }
}