.security-link, .developer-link {
  color: #B0B8C1;
  cursor: pointer;
  text-decoration: none;
  &:hover {
     color: #ffffff;
  }
}

.security-link-m, .developer-link-m {
  @include text_14_24;
  color: #B0B8C1;
  cursor: pointer;
  text-decoration: none;
  width: 70vw;
  margin-left: 25px;
  margin-bottom: 20px;
  &:hover {
     color: #ffffff;
  }
}