@mixin font_01 {
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  color: #213252;
}

@mixin font_btn_forms {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
}

@mixin font_label_form($fon:"dark") {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  @if $fon=='light' {color: #213252;}
  @else if $fon=='dark' { color: #ffffff;}
}

@mixin font_label_form_m($fon:"dark") {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  @if $fon=='light' {color: #213252;}
  @else if $fon=='dark' { color: #ffffff;}
}

// Установки для текста в Мобильной версии

@mixin text_18_24() {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  //margin-top: 20px;
  //margin-bottom: 10px;
  //@if $fon=='light' {color: #213252;}
  //@else if $fon=='dark' { color: #ffffff;}
}

@mixin text_12_20() {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  //margin-top: 20px;
  //margin-bottom: 10px;
  //@if $fon=='light' {color: #213252;}
  //@else if $fon=='dark' { color: #ffffff;}
}